#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.todo-container {
  margin-bottom: 65rem;

}

.item-container {
  text-align: left;
  /* padding-top: 1rem; */
}

h3 {
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 700;
}

input {
  width: 100%;
}

.kg-button {
  width: 150%;
  margin-top: 5px;

}